@import "~react-image-gallery/styles/css/image-gallery.css";

@font-face {
  font-family: "Lane";
  src: url("/assets/lane/LANENAR_.ttf");
}

@font-face {
  font-family: "Scriptina";
  src: url("/assets/scriptina/SCRIPTIN.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lane", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 2rem;
  margin-top: 15px;
  margin-bottom: 15px;
}
