.container {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.line {
    width: 17px;
    height: 3px;
    border-radius: 8px;
    background-color: black;
    margin-top: 1px;
    margin-bottom: 1px;
}

@media screen and (min-width: 481px) {
    .container {
        display: none;
    }
}
