.presentationTitle {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.subTitle {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0;
}

.description {
    padding: 10px;
    text-align: left;
    font-weight: bold;
    line-height: 1.6rem;
}
