.presentationTitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.subTitle {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0;
}

.description {
    padding: 10px;
    text-align: left;
    font-weight: bold;
    line-height: 1.6rem;
}
